@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #CAA8A8;
    color: whitesmoke;
    font-family: 'Klee One', cursive;
}

.container {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


header {
    text-align: center;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 66px;
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
}

section button {
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Klee One', cursive;;
    cursor: pointer;
}

.book-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.book {
    outline: 4px solid black;
    width: 30%;
    margin-top: 100px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    color: black;
    border-radius: 12px;
    background-color: aliceblue;
}

.book p {
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.form {
    height: 400px;
    width: 400px;
    display: flex;
    outline: 2px solid black;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: white;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input {
    padding: 6px;
    border-radius: 6px;
    border: 2px solid black;
    margin: 8px;
}

form label {
    font-size: 20px;
    font-weight: 600;
}

form button {
    padding: 6px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
}

